/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}
.portfolio-container {
  height: auto;
  width: 100%;
  padding: 0 !important;
  background-color: #2d4059;
}
.header {
  height: 104.5vh;
  width: 100%;
  position: relative;
  margin: 0 !important;
}
.header-content {
  position: absolute;
  height: inherit;
  width: 100%;
  padding: 0 !important;
  background-image: url("./public/profile-bg.png");
  background-color: #f2ae1c;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.data-block {
  display: flex;
  align-items: center;
  height: calc(100% - 226px);
  width: 40%;
  color: #ffffff;
  justify-content: initial;
  flex-direction: column;
  margin-top: 10%;
  text-align: center;
  padding-top: 0;
  margin-left: 64px;
}
.data-block h1 {
  font-size: 4rem;
  padding-bottom: 20px;
}
.data-block p {
  font-size: 1.2rem;
}
.nav-link {
  color: #ffffff !important;
  font-family: "Lato", serif;
  font-weight: normal;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: #ffffff;
  background-color: #36987f;
  font-weight: bold;
  height: 40px;
  width: fit-content;
  border-radius: 4px;
}
.nav-link.exp:hover {
  background-color: #ea5455 !important;
}
.nav-link.cont:hover {
  background-color: #2d4059;
}
.arc {
  width: 100%;
  transform: rotate(180.5deg);
  position: absolute;
  z-index: 2;
  bottom: -66px;
}
.content {
  padding: 50px 0 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: 0 !important;
}
.content .skills {
  position: relative;
  height: 50vh;
  padding: 0;
}
.skills .arc {
  transform: rotate(0deg);
  bottom: 0;
}
.content .skills-container {
  display: flex;
  gap: 20px;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 40px;
  padding: 15px 138px 40px;
}
.skills-container .tiles {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #42ac91;
  border-radius: 8px;
  padding: 0 10px;
}
.projects {
  background-color: #ea5455;
  height: 86vh;
  padding: 40px 150px !important;
}
.projects .arc {
  transform: rotate(180deg);
  bottom: -69px;
  left: 0;
}
.contact .mediums {
  width: 22%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-around;
  justify-self: center;
}
.contact {
  color: #ffffff;
  background-color: transparent;
  position: relative;
  height: 235px;
  width: 100%;
  padding-top: 20px;
}
.contact h2 {
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.contact .contacts {
  height: 40px;
  width: 40px;
  background-color: transparent;
}
.contact .contacts svg {
  height: 100%;
  width: 100%;
  fill: #ffffff !important;
}
.contact .arc {
  transform: rotate(0deg);
  bottom: 0;
}
.copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.projects ul {
  list-style-type: none;
  padding: 0;
}
.projects p {
  margin-bottom: 5px;
}
.projects .project {
  background: #42ac91;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 35px;
}
p.fTag {
  font-size: 2.3rem;
  color: #2a7a65;
  font-weight: 600;
}

/* breakpoints for mobile */

@media ((min-width: 300px) and (max-width: 800px)) {
  .header-content {
    background-image: none;
  }
  .arc {
    display: none;
  }
  .data-block {
    padding-top: 100px;
    width: 100%;
    margin: 0;
  }
  p.fTag {
    font-size: 1.7rem;
  }
  .data-block h1 {
    font-size: 3rem;
  }
  .header {
    height: 75vh;
  }
  .content .skills-container {
    padding: 0px 20px 40px;
  }
  .content .skills {
    height: 65vh;
  }
  .projects {
    padding: 20px !important;
    height: 115vh;
  }
  .contact .mediums {
    width: 75%;
  }
  .data-block p {
    font-size: 1rem;
  }
  @media ((min-width: 800px) and (max-width: 1300px)) { 
    .data-block {
      margin-top: 2%;
    }
    .arc {
      bottom: -60px;
    }
    .skills .arc {
      bottom: -2px;
    }
  }
}
