/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}
.portfolio-container {
  height: 100%;
  width: 100%;
  background-color: #f4f6ff;
  padding: 0 !important;
}
.header {
  height: 70vh;
  width: 100%;
  position: relative;
  margin: 0 !important;
}
.overlay {
  position: absolute;
  height: 70vh;
  width: 100%;
  background-color: #c14600;
  opacity: 0.4;
  top: 0;
  z-index: 1;
}
.header-content {
  position: absolute;
  height: 70vh;
  width: 100%;
  z-index: 2;
  padding: 0 !important;
}
.routing-block {
  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding-right: 80px;
  background: #e5d0ac;
  position: relative;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
}
.data-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 70px);
  width: 100%;
  color: #ffffff;
  justify-items: center;
  padding-top: 100px;
}
.data-block .right {
  text-align: center;
  width: 80%;
  font-size: 1.2rem;
}
.data-block .left {
  text-align: center;
}
.nav-link {
  color: #ffffff;
  font-family: "Lato", serif;
  font-weight: 400;
}
.portfolio-avatar {
  height: 200px;
  width: 200px;
}
.portfolio-avatar img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

.content {
  padding: 60px 80px 0;
}

a {
  color: #007bff;
  text-decoration: none;
  padding-right: 10px;
}

.mediums {
  display: grid;
  grid-template-columns: 261px 35px 35px;
}

.footer-text {
  margin: 0;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 20px 0;
}

.cursor {
  position: relative;
  width: 24em;
  margin: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 1.3;
  /* transform: translateY(-50%); */
}
/* Animation */
.typewriter-animation {
  animation: typewriter 5s steps(20) 1s 1 normal both,
    blinkingCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.contact-list {
  position: fixed;
  z-index: 10;
  width: 61px;
  height: 300px;
  display: grid;
  top: 34vh;
  right: 0;
  background-color: antiquewhite;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
